/* CUSTOMIZE THE HEADER
-------------------------------------------------- */
#header
{
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.97);
  z-index: 900;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}


/* NAVBAR*/
#menu-mymenu{
  float: none;
  margin-right: auto;
  margin-left:auto;
  display: table;
}
.navbar {
  margin-bottom: 0;
  border: none;
}

.navbar .navbar-main {
  margin-top: 10px;
}

#menu-mymenu .navbar .navbar-main > li {
  margin-left: 5px;
}
.navbar .navbar-main  li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  color: #f0502c;
}


.navbar .navbar-main  li > a:hover ,
.navbar .navbar-main  li > a:focus,
.navbar .navbar-main  li > a:active {
  background: none;
}

.navbar .navbar-main > li >a:hover {
 background: none;
}
.navbar .navbar-main > li:focus > a,
.navbar .navbar-main > li:active > a,
.navbar .navbar-main > li:hover > a,
.navbar .navbar-main > li.active > a,
.navbar .navbar-main > li.active:hover > a,
.navbar .navbar-main > li.open > a,
.navbar .navbar-main > li.open:hover > a {
  /*background-color: #2c3e50;*/
  color: #333;
}
.navbar .navbar-main .dropdown-menu {
  background-color: #2c3e50;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin-top: -3px;
}
.navbar .navbar-main .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #f0502c;
}
.navbar .navbar-main .dropdown-menu > li:hover > a,
.navbar .navbar-main .dropdown-menu > li:focus > a,
.navbar .navbar-main .dropdown-menu > li.active > a {
  /*background-color: rgba(0, 0, 0, 0.3);*/
  color: #333;
}
.navbar .navbar-main .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
.navbar .navbar-main .dropdown-menu > li.divider {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar .navbar-main li.dropdown:hover > ul.dropdown-menu {
  display: block;
  -webkit-animation: fadeInUp 300ms;
  -moz-animation: fadeInUp 300ms;
  -ms-animation: fadeInUp 300ms;
  -o-animation: fadeInUp 300ms;
  animation: fadeInUp 300ms;
}
.navbar .navbar-main .sub-menu .dropdown-menu {
  left: 100%;
  top: 0;
  margin-top: 0;
}
#mobile-menu .navbar-collapse {
  max-height: 100%;
}

/* Instagram */
.invisible{
    opacity: 0; 
    visibility: hidden;
    -webkit-transition: visibility 0.2s linear, opacity 2s linear; 
    -moz-transition: visibility 0.2s linear, opacity 2s linear; 
    -o-transition: visibility 0.2s linear, opacity 2s linear;
}
.visible{
  visibility: visible; 
  opacity: 1;
}


/* Front Page
-------------------------------------------------------------- */
#wrapper
{
    text-align: center;
    text-shadow:0 1px 0 #fff;
    margin:0 auto;
}

.mast
{
    padding:60px 0;
}
.mast img
{
    width:75px;
    height:auto;
    margin-bottom: 20px;
}
.mast h1{font-size: 48px;font-weight: bold}
.mast h3{font-size: 18px;color:#666;margin-top:10px;}

section h2{
    color:#ccc;
    font-size:24px;
    font-weight: normal;
    display:block;
    /*background: transparent url(../images/divider.png) center center repeat-x;*/
}
section h2 span{
    /*background:#f1f1f1;*/
    display:inline-block;
    padding:0 10px;
}

/* about */

#about{overflow: hidden;padding-bottom:10px;}	
.bio{text-align: left;margin-top: 40px;}
.bio p{margin-bottom:30px;font-size:18px;line-height: 24px;}

.flip{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip .card {
  -webkit-transition: 0.5s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  
  -o-transition: 0.5s;
  -o-transform-style: preserve-3d;

  transition: 0.5s;
  transform-style: preserve-3d;

  position: relative;
}

.flip .card.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip .card .face {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
}

.flip .card .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  
}

/* Contact */
.dribbble_link{color:#ea4c89;}
.instagram_link{color:#3f729b;}
.twitter_link{color:#00acee;}

#contact{padding-bottom:40px}
#contact h3{font-size: 36px;font-weight:bold;margin:40px 0 0 0;}
#contact p{font-size: 18px;color:#666;margin-top:10px;}

#contact .icons{margin:40px auto 0 auto;font-size: 68px;overflow:hidden;}
#contact .icons li{float:left;width:16%;list-style: none;}
#contact a{cursor: pointer;margin:0;text-shadow:none;width:100px;height:100px;border-radius:50%;display:inline-block;color:#999;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}
#contact a i{line-height: 100px}

#contact a.twitter:hover {color:#00acee;}
#contact a.dribbble:hover {color:#ea4c89;}
#contact a.instagram:hover {color:#3f729b;}
#contact a.linkedin:hover {color:#0e76a8;}
#contact a.pinterest:hover {color:#dd1812;}
#contact a.email:hover {color:#dd1812;}

/* Portfolio Page
-------------------------------------------------------------- */

#portfolio-main
{
  margin-top:-80px;
}

#menu-portfolio{
  float: none;
  margin-right: auto;
  margin-left:auto;
  /*display: table;*/
}

#menu-portfolio .page-title{
  margin-right: auto;
  margin-left:auto;
  text-align: center;
  /*display: table;*/
}
#menu-portfolio .page-title ul
{
  display: table;
  margin: auto;
  padding-top: 7px;
}
#menu-portfolio .page-title li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

/* CUSTOMIZE THE JUMBOTRON*/

/* Carousel base class */
.jumbotron {
  height: 650px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT*/

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.col-xs-12100, .col-sm-1225, .col-md-12,{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1210{
    float: left;
    position: relative;
    min-height: 1px;
    padding-: 0px;
    width: 10%;
}
@media (min-width: 1200px) {
  .col-lg-1210, {
    float: left;
    position: relative;
    min-height: 1px;
    padding-: 0px;
    width: 10%;
  }

/* Featurettes*/

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* Journal Page
-------------------------------------------------------------- */

#blogmain{
  text-shadow: 0px 1px 0px #fff;
}
.entry-date {
  font-size: 14px;
  color: #ccc;
  margin-top: 5px;
}

#blogmain article {
  border-bottom: 1px solid #eee;
}

